@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8 !important;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif !important;
  line-height: 1.5;
  font-weight: 200;
}
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 1.2;
}
/*----- React Root Div------*/
#root {
  padding-top: 93px;
}
/*-***-- React Root Div--***-*/
* {
  outline: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
}

/*-------------------   Nav Component Style   -------------------*/

nav,
header {
  display: flex !important;
}
nav {
  z-index: 2;
  background-color: #26d0ce;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
#desktop-navbar {
  display: flex;
  background-color: white;
  width: 100%;
  height: 93px;
  align-items: center;
  padding: 0 5%;
  transition: 0.4s;
}
#brand {
  margin: 0 30px;
}
#brand a {
  color: #5159cb;
}
.onscrollDownNavList {
  color: white;
  height: 50px !important;
  padding: 0 6% !important;
  background-color: inherit !important;
}
#navList {
  width: 40%;
  height: 60%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
#navList li {
  width: 25%;
  height: 100%;
}
#navList li a {
  font-weight: normal;
  display: flex;
  color: inherit;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  font-size: 19px;
  width: 100%;
  height: 100%;
}
#navList li a:hover,
#dropdown:hover {
  background-color: rgb(237, 237, 243);
  color: #26d0ce;
  cursor: pointer;
  font-weight: bold;
}

#dropdown {
  width: 50px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
#dropdown-content {
  transition: 0.3s;
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding-top: 15px;
  width: 50px;
  position: absolute;
}
#dropdown-content ul li {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dropdown-content ul li:hover {
  background-color: rgb(237, 237, 243);
  cursor: pointer;
}
#dropdown:hover > #dropdown-content,
#dropdown-content:hover {
  display: flex;
}
.dropdown-selected {
  background-color: #acd7e6 !important;
}
.activNavList {
  background-color: rgb(237, 237, 243);
  color: blueviolet !important;
  cursor: pointer;
  font-weight: bold !important;
}
#mobile-navbar {
  display: none;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0 20px 0 10px;
}
.fa-bars {
  width: 25px;
  height: 25px;
  align-items: center;
  display: flex;
  justify-content: center;
}
#mobile-navbar h3 {
  margin: 0 auto;
  transform: translateX(-12%);
  color: white;
  cursor: pointer;
}
#mobile-navbar-filter {
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}
#mobile-navbar-nav-content {
  position: fixed;
  top: 0;
  left: -67vw;
  height: 100vh;
  width: 50vw;
  background-color: #f1f1f1;
  transition: 0.5s;
}
#mobile-navbar-content {
  display: flex;
  margin: 10px;
  width: 100%;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: white;
  padding: 10px;
}
#mobile-navbar-language {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#mobile-navbar-language span {
  width: 20%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-navbar-content-display {
  visibility: visible !important;
  opacity: 1 !important;
}

#mobile-navbar-nav-content i {
  align-self: flex-end;
  color: black;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
}
#mobile-navList {
  flex-direction: column;
}
#mobile-navList li {
  margin: 10px 0;
  text-align: center;
  height: 35px;
}
#mobile-navList li a {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}
@media (max-width: 425px) {
  #mobile-navbar-language span {
    width: 35%;
  }
  #mobile-navbar-language {
    flex-direction: column;
    align-items: center;
  }
}
/*---------***-------   Nav Component Style   ---------***-------*/
/*-------------------   Index Page Style   -------------------*/

header {
  height: 310px;
  color: white;
  padding: 10px 10%;
  background: rgb(44, 54, 193);
  background: linear-gradient(
    90deg,
    rgba(44, 54, 193, 1) 20%,
    rgba(237, 237, 243, 1) 90%
  );
  background: linear-gradient(90deg, rgba(44, 54, 193, 1) 20%, lightblue 95%);
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}
abbr {
  cursor: pointer !important;
  text-decoration: none !important;
}

.fa-smile {
  color: rgb(255, 251, 0);
  font-size: 25px;
  width: 30px;
  height: 30px;
}
#user_image {
  height: 260px;
  border-radius: 50%;
  margin: auto 50px;
  box-shadow: 0px 0px 20px 2px #f3f3f3;
}
#title {
  margin: auto 20px;
  width: 100%;
}
#title span {
  font-size: 25px;
}
#parallax {
  margin-top: 10px;
  background-image: url("./assets/mern.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}

#home-main {
  padding: 50px 10%;
  display: flex;
  justify-content: space-between;
}
aside {
  width: 30%;
  padding: 10px;
}
aside,
section {
  background-color: #fafafa;
}
.skills-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px 0px;
  padding: 10px;
  background-color: white;
}
.skills-container:hover,
#languages-skills:hover {
  box-shadow: 0px 0px 5px 0px #cccccca6;
  -webkit-box-shadow: 0px 0px 5px 0px #cccccca6;
  -moz-box-shadow: 0px 0px 5px 0px #cccccca6;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
}
.skills-container h4 {
  margin-bottom: 10px;
}
.skills {
  color: #58a6ff;
  background-color: #388bfd1a;
  border: 2px solid #58a6ff;
  text-align: center;
  font-size: 15px;
  padding: 3px 5px;
  line-height: 18px;
  font-weight: bold;
  border-radius: 2em;
  margin: 0 5px 5px 0;
}
#languages-skills {
  background-color: white;
  padding: 10px;
  margin: 10px 0;
}
#languages-skills li {
  margin-bottom: 5px;
}
.languages-degree-info {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.languages-degree-prog {
  width: 100%;
  height: 16px;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
.languages-degree-prog div {
  background-color: #56b95d;
  width: 60%;
  height: 100%;
  border-radius: 0.25rem;
}
#home-main-section {
  width: 65%;
  background-color: #f1f1f1;
  text-align: justify;
  height: max-content;
}
h3 i {
  margin-right: 8px;
}
.about_section p {
  padding: 0 10px;
}
.about_section {
  transition: 0.2s;
  padding: 7px 15px;
  margin-bottom: 15px;
}
.about_section:hover {
  background-color: white;
  border-left: 5px solid blueviolet;
  cursor: pointer;
  font-weight: 500;
}
.about_section:hover h3 {
  color: #26d0ce;
}
.education_list li {
  display: flex;
}

.education_list_year {
  margin-right: 3%;
  margin-bottom: 2%;
  margin-top: 2%;
  min-width: 85px;
  font-weight: 600;
}
.education_list_desc {
  margin: 2% 0 0 0;
}

#cv-pdf {
  color: white;
  border: 1px solid #26d0ce;
  position: fixed;
  right: 0;
  top: 190px;
  padding: 5px;
  cursor: pointer;
  background-color: #26d0ce;
  width: 75px;
  text-align: center;
  transition: all 0.3s;
}
#cv-pdf:hover {
  border: 1px solid white;
  box-shadow: 1px 1px 10px 3px #ccc;
  -webkit-box-shadow: 1px 1px 10px 3px #ccc;
  -moz-box-shadow: 1px 1px 10px 3px #ccc;
}
@media (max-width: 890px) {
  #parallax {
    background-image: url("./assets/mern_mobile.png");
  }
}
@media (max-width: 520px) {
  aside {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  #root {
    padding-top: 0;
  }
  nav {
    position: inherit;
  }
  #desktop-navbar {
    display: none;
  }
  #mobile-navbar {
    display: flex;
  }
  header {
    margin-top: 5px;
    height: 400px;
    padding: 10px 10% 10px 6%;
    flex-direction: column-reverse;
    align-items: center;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  }
  #user_image {
    margin: 0;
    width: 230px;
    height: 230px;
  }
  #title span {
    font-size: 18px;
  }
  #cv-pdf {
    height: 47px;
    position: absolute;
    top: 0;
    width: auto;
    padding: 0;
    right: 5px;
    width: 115px;
  }
  #home-main {
    flex-direction: column;
  }
  #home-main-section {
    width: 100%;
  }
  #home-main {
    padding: 50px 5%;
  }
  .education_list li {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  aside {
    width: 95%;
    margin: 20px auto;
  }
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/*---------***-------   Index Page Style   ---------***-------*/

/*-------------------   Project Page Style   -------------------*/
#project-main {
  padding-bottom: 20px;
  margin: 55px auto;
  background-color: #f8f8f8;
  width: 85%;
  box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 10%);
}
.project-header-type {
  width: 30%;
  height: 32px;
  background-color: #fdfdfd;
}
.project-type {
  display: flex;
  height: 30px;
  cursor: pointer;
}
#project-type-web,
#project-type-mobile {
  display: flex;
  justify-content: center;
  width: 50%;
  color: black;
  background-color: #fdfdfd;
  font-weight: normal;
  box-shadow: none;
  z-index: 0;
}
.project-type-active {
  color: #26d0ce !important;
  background-color: white !important;
  font-weight: bold !important;
  box-shadow: 1px 6px 6px 0px rgb(0 0 0 / 15%) !important;
  z-index: 1 !important;
}
.project-type-underline {
  width: 50%;
  height: 2px;
  border-radius: 2px;
  position: relative;
  left: 0%;
  left: 50%;
  background-color: blueviolet;
  transition: left 0.3s;
}
.project-card {
  background-color: white;
  justify-content: space-between;
  display: flex;
  padding: 15px;
  width: 90%;
  margin: 35px auto;
  transition: all 0.3s;
}
.project-card:hover {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
.project-img-container {
  width: 30%;
  height: fit-content;
}
.project-img-container img {
  width: 100%;
}
.project-content {
  width: 65%;
  padding: 10px;
}
.project-title {
  font-weight: bold;
  font-size: x-large;
}
.project-description {
  text-align: justify;
  margin: 10px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%;
}
.project-technologies,
.project-mission {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.project-mission {
  flex-direction: column;
}
.project-external-link {
  display: flex;
  margin-top: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.project-github {
  width: fit-content;
  margin-left: 8px;
}
.project-github-public {
  background-color: #1b1f232e;
  border: 2px solid #1b1f23;
  color: #1b1f23;
  border-radius: 15px;
  padding: 2px 10px;
  cursor: pointer;
  margin-bottom: 2px;
}
.project-github-private {
  background-color: #b9b9b92e;
  border: 2px solid #b9b9b9;
  color: #b9b9b9;
  border-radius: 15px;
  padding: 2px 10px;
  cursor: not-allowed;
  margin-bottom: 2px;
}
.project-website {
  border: 2px solid violet;
  color: violet;
  background-color: #ee82ee2e;
  border-radius: 15px;
  margin-left: 8px;
  padding: 2px 10px;
  margin-bottom: 2px;
}
.projects-list-container {
  min-height: calc(100vh - 295px);
}
@media (max-width: 768px) {
  #project-main {
    width: 95%;
    margin: 30px auto;
  }
  .project-header-type {
    width: 45%;
  }
  .project-card {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    width: 95%;
  }
  .project-img-container {
    width: 90%;
  }

  .project-content {
    padding: 10px 0;
    width: 90%;
  }
  .projects-list-container {
    min-height: calc(100vh - 202px);
  }
}
@media (max-width: 425px) {
  .project-header-type {
    width: 100%;
  }
}
/*---------***-------   Project Page Style   ---------***-------*/
/*-------------------   Contact Page Style   -------------------*/

.contact-container-filter {
  position: relative;
  top: 0px;
  left: 0;
  height: 110vh;
  clip-path: polygon(0 0, 100% 0%, 100% 25%, 25% 100%, 0 100%);
  background: #1cd8d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    rgba(147, 237, 199, 0.2),
    #1cd8d2
  );

  background: linear-gradient(
    to bottom,
    rgba(147, 237, 199, 0.2),
    rgba(28, 216, 210, 0.2)
  );
}
.contact-container {
  position: absolute;
  top: 65px;
  left: 0;
  padding-top: 60px;
  display: flex;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
}
.contact-left {
  width: 30%;
  height: 70vh;
  height: fit-content;
}
.contact-left img {
  width: 100%;
}

.contact-section {
  width: 45%;
  max-width: 470px;
}
.contact-section form {
  position: relative;
  text-align: center;
  background-color: #fff;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.contact-section form textarea {
  overflow: auto;
  resize: none;
}
/****************** Contact Form Input Animation ******************/
.contact_form_input_groupe {
  position: relative;
  width: 100%;
  padding: 20px 0 0;
  margin-top: 10px;
}
.input_field {
  width: -webkit-fill-available;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  border-width: 2px;
  font-size: 1.1rem;
  color: #211f1f;
  padding: 7px 0;
  transition: all 0.2s;
}
.input_field_errored {
  border-bottom: 2px solid #ff6b6b;
}
.input_field::placeholder {
  color: transparent;
}
.input_field:focus {
  padding-bottom: 6px;
  font-weight: 600;
  border-width: 3px;
  /* border-image: linear-gradient(to right, #11998e, #38ef7d);*/
  border-image: linear-gradient(90deg, #26d0ce 20%, lightblue 95%);
  border-image-slice: 1;
  transition: all 0.2s;
}
.input_label {
  display: block;
  color: #808a89;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s;
}
.input_label_errored {
  color: #ff6b6b;
}
.input_field:placeholder-shown ~ .input_label {
  font-size: 1.1rem;
  cursor: text;
  top: 20px;
}
.input_field:focus ~ .input_label {
  top: 0;
  display: block;
  transition: all 0.2s;
  font-size: 0.9rem;
  color:/* #11998e;*/ #26d0ce;
  font-weight: 700;
}
/*----------------- Contact Form Input Animation -----------------*/
#contact-left-form-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-form-info-close {
  align-self: flex-end;
  margin: -22px 3px -6px 0px;
  color: rgb(129, 129, 129);
  font-size: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#loader {
  display: flex;
  width: 70px;
  justify-content: space-between;
  align-items: center;
}
#loader1,
#loader2,
#loader3 {
  background-color: #5159cb;
  border-radius: 50%;
  width: 0.5em;
  height: 0.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
#loader1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
#loader2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

#contact-form-send-button {
  margin-top: 10px;
  margin-right: 10px;
}
#contact-form-reset-button {
  margin-top: 10px;
  margin-left: 10px;
}
.contact-form-button {
  cursor: pointer;
  width: 120px;
  height: 33px;
  background-color: white;
  border-radius: 20px;
  color: blueviolet;
  border: 2px solid #26d0ce;
}
.contact-form-button:hover {
  background: linear-gradient(90deg, #26d0ce 74%, lightblue 97%);
  color: white;
}
#sending-loader {
  margin: 0 auto;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  border: 3px solid;
  border-color: rgb(0, 153, 221) #e2e2e2 #e2e2e2;
  border-top-color: #09d;
  animation: spin 1s linear infinite;
}

#social {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 120px;
  border: none;
  border-radius: 0 5px 5px 0;
  width: 50px;
  padding: 0;
}
#social ul {
  display: flex;
  flex-direction: column;
  background-color: white;
}
#social ul li {
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 0 5px 5px 0;
}
#social ul li a {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.social-icon {
  font-size: 35px;
  margin: 10px 0;
}
#social ul li:hover {
  background-color: rgb(228, 228, 228);
  width: 125%;
}
#social-phone:hover > #phone-number {
  display: flex;
  visibility: visible;
}
#phone-number {
  border: 1px solid rgba(0, 0, 0, 0.125);
  font-weight: bold;
  position: absolute;
  width: 250px;
  background-color: white;
  top: 1px;
  left: 60px;
  display: none;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
#phone-number div {
  width: 200px;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}
.clipboard-copy {
  border-radius: 50%;
  background-color: rgb(226, 226, 226);
  height: 30px;
  width: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: copy;
}
.phone-call {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #62c9382e;
  color: #62c938;
  border: 2px solid #62c938;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  #contact-main {
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }
  #social ul {
    flex-direction: row;
  }
  #social {
    z-index: 0;
    margin: 0 auto;
    width: 80%;
    position: inherit;
  }
  .contact-container-filter {
    height: calc(650px + 75vw);
  }
  .contact-container {
    padding-top: 0px;
    top: 112px;
    flex-direction: column;
    align-items: center;
  }
  .contact-left {
    width: 60%;
    height: 60vw;
  }
  .contact-section {
    width: 90%;
  }
  .contact-section form {
    padding: 20px 4%;
  }
  #phone-number {
    top: 110px;
    z-index: 1;
    left: 0;
  }
  #social ul li {
    border-radius: 0px;
  }
  #phone-number div {
    width: 230px;
  }
  .phone-call {
    display: flex;
  }
}
/*---------***-------   Contact Page Style   ---------***-------*/
/*-------------------   Blog Page Style   -------------------*/
#blog-container {
  height: calc(100vh - 163px);
}
/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  #blog-container {
    height: calc(100vh - 120px);
  }
}
/*---------***-------   Blog Page Style   ---------***-------*/

/*-------------------   Footer Component Style   -------------------*/
footer {
  font-weight: normal;
  display: flex !important;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  height: 40px;
  background-color: #26d0ce;
  bottom: 0px;
}
#footer-link {
  color: blueviolet;
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  footer {
    font-size: 13px;
  }
  #loader-container {
    height: calc(100vh - 160px) !important;
  }
}
/*---------***-------   Footer Component Style   ---------***-------*/
/*-------------------   Loader Component Style   -------------------*/
#loader-container {
  height: calc(100vh - 203px);
  padding-top: 70px;
}
#loader-container div {
  margin: 0 auto;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 3px solid;
  border-color: rgb(0, 153, 221) #e2e2e2 #e2e2e2;
  border-top-color: #09d;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/*---------***-------   Loader Component Style   ---------***-------*/
/*-------------------   Not Found Component Style   -------------------*/
#not-found-container {
  height: calc(100vh - 163px);
}
#not-found {
  margin: 30px auto;
  width: 50%;
  text-align: center;
}
#not-found h1 {
  font-size: 90px;
  font-weight: bold;
}
#not-found p {
  font-size: 30px;
  margin: 10px 0px;
}

#not-found a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;
  margin: 15px auto 0px;
  height: 20px;
  background-color: blue;
  padding: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  #not-found-container {
    height: calc(100vh - 120px);
  }
}
/*---------***-------   Not Found Component Style   ---------***-------*/
